body{
    background-color: rgb(138, 243, 78);
    color: rgb(0, 0, 0);
    font-family:cursive;
}

ul{
    display:flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    padding: 20px;
}

a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.caixa{
    border-radius: 5px;
    box-shadow: 0 2px 12px rebeccapurple;
}

header img{
    width: 500px;
    height: 300px;
    
}

.center{
text-align: center;

}

.container{
    padding: 0px 50px;
}

nav a:hover{
color: antiquewhite;
}